
$colores:(
    primario:rgba(248,165,2,255),
    secundario:black,
    C3:white,
    btnForm: hwb(0 30% 69%),
    bordeGaleriaImg: rgb(45, 43, 46),
    bordeImgOimg:#8a8484,
    bgCtarget:rgba(0, 0, 0, 0.788),
);

$btn:(
    padding: 10px 30px,
    border:0,
    radio:5px,
    margen:8px,
    fondo:hwb(0 30% 69%),
    bordeColor: Black,
   

   
    
);