* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box; }

@keyframes aparecer {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes shadow {
  100% {
    shadow: 1; }
  0% {
    shadow: 0;
    text-shadow: 0 0 72px black;
    color: transparent; } }

.navbar .navbar-nav .nav-link:hover {
  color: #f8a502; }

.navbar .navbar-nav .nav-item {
  position: relative; }

.navbar .navbar-nav .nav-item::after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: #f8a502;
  width: 0%;
  content: "";
  height: 4px;
  transition: all 0.5s; }

.navbar .navbar-nav .nav-item:hover::after {
  width: 70%; }

/*** FORMULARIO CONTACTO */
.formulario {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding: 1.5em;
  background: #181818;
  color: white;
  line-height: 1.6;
  font-family: 'Quicksand', sans-serif;
  padding: 0 1.5em; }

ul {
  list-style: none;
  padding: 0; }

.logo {
  text-align: center;
  font-size: 3em; }

.cajaForm {
  box-shadow: 0 0 20px 0 #f8a502; }

.cajaForm > * {
  padding: 1em; }

.form {
  background: #222222; }

.form form {
  display: grid;
  grid-template-columns: 1fr 1fr; }

.form form label {
  display: block; }

.form form p {
  margin: 0;
  padding: 1em; }

.form form .block {
  grid-column: 1 / 3; }

.form form button,
.form form input,
.form form textarea {
  width: 100%;
  padding: .7em;
  border: none;
  background: none;
  outline: 0;
  color: white;
  border-bottom: 1px solid #f8a502; }

.form form button {
  background: hwb(0 30% 69%);
  color: #f8a502;
  border: 0;
  text-transform: uppercase;
  padding: 1em; }

.form form button:hover,
.form form button:focus {
  background: #f8a502;
  color: white;
  transition: background-color 1s ease-out;
  outline: 0; }

/* CONTACT INFO */
.info {
  background: black; }

.info h4, .info ul, .info p {
  text-align: center;
  margin: 0 0 1rem 0; }

/* LARGE SIZE */
@media (min-width: 700px) {
  body {
    padding: 0 4em; }
  .cajaForm {
    display: grid;
    grid-template-columns: 2fr 1fr; }
  .cajaForm > * {
    padding: 2em; }
  .info h4, .info ul, .info p {
    text-align: left; } }

footer {
  text-align: center;
  position: fixed;
  bottom: 0;
  margin-top: 10;
  padding: 1px 0px 0px 0px; }

.historia {
  padding-bottom: 100px;
  margin-bottom: 100px; }

.btn {
  /*padding: 5px 15px;* USO MAP Y REEMPLAZO todo CON map-get 
    border:0;
    border-radius: 5px;
    margin: 8px;*/
  padding: 10px 30px;
  border: 0;
  border-radius: 5px;
  margin: 8px;
  background-color: hwb(0 30% 69%);
  border-color: Black; }

.imagen {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 7px solid hwb(0 10% 89%);
  border-radius: 4px;
  transition: transform 0.3s ease-in-out;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }

.imagen:hover {
  filter: opacity(0.9);
  transform: scale(1.04); }

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: minmax(200px, auto);
  gap: 20px;
  padding: 20px;
  grid-auto-flow: dense;
  padding-bottom: 100px; }

/*@media (min-width: 576px) {*/
.ancho {
  grid-column: span 2; }

.alto {
  grid-row: span 2; }

/*}*/
@media (max-width: 576px) {
  .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px));
    grid-auto-rows: 300px;
    justify-content: center; }
  .ancho {
    grid-column: span 1; }
  .alto {
    grid-row: span 1; } }

/****************************************************/
h1 {
  color: #f8a502; }

a {
  text-decoration: none; }

.h3 {
  width: 100%; }

.tituloIndex, .entrar {
  animation-name: aparecer;
  animation-duration: 5s; }

.entrar {
  display: flex;
  justify-content: center;
  align-items: center; }

.btn a {
  text-decoration: none;
  color: #f8a502; }

.btn:hover {
  background-color: #f8a502; }

.btn a:hover {
  color: white; }

.discograf, .videos {
  padding: 80px; }

.discograf img, .videos img {
  max-width: 100%;
  background: #2d2b2e;
  padding: 15px;
  width: 100%;
  box-shadow: 0px 0px 9px #f8a502;
  cursor: pointer;
  transition: all 300ms; }

.discograf img:hover, .videos img:hover {
  transform: scale(1.15); }

.Logo_img:hover {
  transform: scale(1.1);
  transition: 500ms; }

.videos {
  background-color: black; }

/**************************/
